<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c1a2b3c4-0004-0004-0004-000000000004" Alias="lgNavigation" Level="1">
  <Info>
    <Name>LG Navigation</Name>
    <Icon>icon-navigation</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Navigation display options for content pages.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>LocalGov/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c1a2b3c4-0004-0004-0004-000000000041</Key>
      <Name>Navigation Title</Name>
      <Alias>navTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Description><![CDATA[Override the page name in navigation menus (leave blank to use page name)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c1a2b3c4-0004-0004-0004-000000000042</Key>
      <Name>Hide From Navigation</Name>
      <Alias>hideFromNav</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Description><![CDATA[When enabled, this page will not appear in navigation menus]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c1a2b3c4-0004-0004-0004-000000000043</Key>
      <Name>Hide From Search</Name>
      <Alias>hideFromSearch</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Description><![CDATA[When enabled, this page will be excluded from site search results]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c1a2b3c4-0004-0004-0004-000000000091</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Tab</Type>
      <SortOrder>50</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
