<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c1a2b3c4-0005-0005-0005-000000000005" Alias="lgPublishDate" Level="1">
  <Info>
    <Name>LG Publish Date</Name>
    <Icon>icon-time</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Publish date field for news articles and events.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>LocalGov/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c1a2b3c4-0005-0005-0005-000000000051</Key>
      <Name>Publish Date</Name>
      <Alias>publishDate</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Description><![CDATA[The publication date of this item (defaults to creation date if not set)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c1a2b3c4-0005-0005-0005-000000000091</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
