<?xml version="1.0" encoding="utf-8"?>
<Template Key="c1a2b3c4-1010-0010-0010-000000000040" Alias="lgGuide" Level="1">
  <Name>LG Guide</Name>
  <Parent></Parent>
  <Contents><![CDATA[@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Extensions
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var firstPage = Model.Children?.FirstOrDefault(c => c.IsVisible());
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@Model.Name</h1>

        @if (Model.HasValue("summary"))
        {
            <p class="govuk-body-l">@Model.Value("summary")</p>
        }

        @if (firstPage is not null)
        {
            <p class="govuk-body">
                <a class="govuk-link" href="@firstPage.Url()">Start: @firstPage.Name</a>
            </p>
        }
    </div>

    <div class="govuk-grid-column-one-third">
        @await Component.InvokeAsync("GuideNav", new { currentPage = Model })
    </div>
</div>
]]></Contents>
</Template>
