<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c1a2b3c4-0040-0040-0040-000000000041" Alias="lgGuidePage" Level="4">
  <Info>
    <Name>LG Guide Page</Name>
    <Icon>icon-document color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Single page within a multi-page Guide.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>LocalGov/Guides</Folder>
    <Compositions>
      <Composition Key="c1a2b3c4-0001-0001-0001-000000000001" Alias="lgContentFields">lgContentFields</Composition>
      <Composition Key="c1a2b3c4-0004-0004-0004-000000000004" Alias="lgNavigation">lgNavigation</Composition>
    </Compositions>
    <DefaultTemplate>lgGuidePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c1a2b3c4-1010-0010-0010-000000000041">lgGuidePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>
