<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e4f5a6b7-0002-0002-0002-000000000002" Alias="lgGuidePage" Level="4">
  <Info>
    <Name>LG Guide Page</Name>
    <Icon>icon-file color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An individual page within a guide. Renders with guide sidebar navigation and prev/next links.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>LocalGov/Guides</Folder>
    <Compositions>
      <ContentType>lgContentFields</ContentType>
      <ContentType>lgPageSummary</ContentType>
      <ContentType>lgNavigation</ContentType>
    </Compositions>
    <DefaultTemplate>lgGuidePage</DefaultTemplate>
    <AllowedTemplates>
      <Template>lgGuidePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>
