<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e4f5a6b7-0001-0001-0001-000000000001" Alias="lgGuide" Level="3">
  <Info>
    <Name>LG Guide</Name>
    <Icon>icon-book-alt color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A multi-page guide with sidebar navigation. Container for guide pages. Equivalent of LocalGov Drupal's localgov_guides.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>LocalGov/Guides</Folder>
    <Compositions>
      <ContentType>lgContentFields</ContentType>
      <ContentType>lgPageSummary</ContentType>
      <ContentType>lgNavigation</ContentType>
    </Compositions>
    <DefaultTemplate>lgGuide</DefaultTemplate>
    <AllowedTemplates>
      <Template>lgGuide</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType>lgGuidePage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>
