<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c1a2b3c4-d000-d000-d000-000000000050" Alias="LG URL Picker" Level="1">
  <Info>
    <Name>LG URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>LocalGov</Folder>
  </Info>
  <Config><![CDATA[{
  "overlaySize": "small",
  "hideAnchor": false,
  "ignoreUserStartNodes": false,
  "maxNumber": 1
}]]></Config>
</DataType>
