<?xml version="1.0" encoding="utf-8"?>
<Template Key="c1a2b3c4-1010-0010-0010-000000000021" Alias="lgServiceSubLanding" Level="1">
  <Name>LG Service Sub Landing</Name>
  <Parent></Parent>
  <Contents><![CDATA[@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@Model.Name</h1>

        @if (Model.HasValue("summary"))
        {
            <p class="govuk-body-l">@Model.Value("summary")</p>
        }

        @if (Model.HasValue("main"))
        {
            <div class="govuk-body">@Html.Raw(Model.Value("main"))</div>
        }
    </div>
</div>

@await Component.InvokeAsync("ServiceNavCards", new { page = Model })
]]></Contents>
</Template>
