<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c1a2b3c4-0010-0010-0010-000000000010" Alias="lgHome" Level="1">
  <Info>
    <Name>LG Home</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Root home page for a LocalGov Umbraco site.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>LocalGov</Folder>
    <Compositions>
      <ContentType>lgContentFields</ContentType>
      <ContentType>lgPageSummary</ContentType>
      <ContentType>lgPageImage</ContentType>
      <ContentType>lgNavigation</ContentType>
    </Compositions>
    <DefaultTemplate>lgHome</DefaultTemplate>
    <AllowedTemplates>
      <Template>lgHome</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType>lgServiceLanding</ContentType>
    <ContentType>lgNewsList</ContentType>
    <ContentType>lgAlertList</ContentType>
    <ContentType>lgEventList</ContentType>
    <ContentType>lgDirectory</ContentType>
    <ContentType>lgSettings</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c1a2b3c4-0010-0010-0010-000000000101</Key>
      <Name>Intro Text</Name>
      <Alias>introText</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Description><![CDATA[Brief introductory text displayed below the site header on the homepage]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c1a2b3c4-0010-0010-0010-000000000191</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
