<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c1a2b3c4-0050-0050-0050-000000000051" Alias="lgStep" Level="4">
  <Info>
    <Name>LG Step</Name>
    <Icon>icon-checkbox color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Individual step in a Step-By-Step guide. Rendered inline by the parent.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>LocalGov/StepByStep</Folder>
    <Compositions>
      <Composition Key="c1a2b3c4-0001-0001-0001-000000000001" Alias="lgContentFields">lgContentFields</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c1a2b3c4-0050-0050-0050-000000000511</Key>
      <Name>Call To Action</Name>
      <Alias>callToAction</Alias>
      <Definition>c1a2b3c4-d000-d000-d000-000000000050</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Description><![CDATA[Optional link displayed at the bottom of the step (e.g. "Pay your council tax online")]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</ContentType>
