<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f5a6b7c8-0002-0002-0002-000000000002" Alias="lgStep" Level="4">
  <Info>
    <Name>LG Step</Name>
    <Icon>icon-arrow-right color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An individual step within a Step By Step. Steps are numbered automatically by their sort order.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>LocalGov/StepByStep</Folder>
    <Compositions>
      <ContentType>lgContentFields</ContentType>
      <ContentType>lgNavigation</ContentType>
    </Compositions>
    <DefaultTemplate>lgStep</DefaultTemplate>
    <AllowedTemplates>
      <Template>lgStep</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f5a6b7c8-0002-0002-0002-000000000021</Key>
      <Name>Call To Action</Name>
      <Alias>callToAction</Alias>
      <Definition>b4e19c5d-0455-45f4-a82e-7d8b3b02c169</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Description><![CDATA[Optional link(s) to start or continue this step (e.g. link to an online form)]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f5a6b7c8-0002-0002-0002-000000000091</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
