<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f5a6b7c8-0001-0001-0001-000000000001" Alias="lgStepByStep" Level="3">
  <Info>
    <Name>LG Step By Step</Name>
    <Icon>icon-steps color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Linear numbered process guide. Contains step pages. Rendered with GOV.UK Frontend step-nav component. Equivalent of LocalGov Drupal's localgov_step_by_step.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>LocalGov/StepByStep</Folder>
    <Compositions>
      <ContentType>lgContentFields</ContentType>
      <ContentType>lgPageSummary</ContentType>
      <ContentType>lgNavigation</ContentType>
    </Compositions>
    <DefaultTemplate>lgStepByStep</DefaultTemplate>
    <AllowedTemplates>
      <Template>lgStepByStep</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType>lgStep</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>
