@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "_Layout.cshtml";
    var page = ViewContext.HttpContext.Request.Query.ContainsKey("page")
        ? int.TryParse(ViewContext.HttpContext.Request.Query["page"], out var p) ? p : 1
        : 1;
    var category = ViewContext.HttpContext.Request.Query["category"].ToString() is { Length: > 0 } c ? c : null;
    var year = ViewContext.HttpContext.Request.Query["year"].ToString() is { Length: > 0 } y
        && int.TryParse(y, out var yr) ? yr : (int?)null;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">@Model.Name</h1>
        @if (Model.HasValue("main"))
        {
            <div class="govuk-body">@Html.Raw(Model.Value("main"))</div>
        }
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        @await Component.InvokeAsync("NewsList", new { page, pageSize = 10, category, year })
    </div>
</div>
