<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c1a2b3c4-d000-d000-d000-000000000060" Alias="LG Alert Severity" Level="1">
  <Info>
    <Name>LG Alert Severity</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>LocalGov</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Announcement",
    "Warning",
    "Critical"
  ],
  "multiple": false
}]]></Config>
</DataType>
