<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c1a2b3c4-0060-0060-0060-000000000060" Alias="lgAlertList" Level="2">
  <Info>
    <Name>LG Alert List</Name>
    <Icon>icon-alert color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Container for site-wide alert banners (announcements, service disruptions, etc.).</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>LocalGov/AlertBanner</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="c1a2b3c4-0060-0060-0060-000000000061">lgAlertItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>
