<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a1b2c3d4-0001-0001-0001-000000000001" Alias="lgAlertList" Level="1">
  <Info>
    <Name>LG Alert List</Name>
    <Icon>icon-chat-active color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Container for site alert banners. Only one should exist per site.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>LocalGov/Alerts</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType>lgAlertItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>
