<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c1a2b3c4-0020-0020-0020-000000000021" Alias="lgServiceSubLanding" Level="3">
  <Info>
    <Name>LG Service Sub Landing</Name>
    <Icon>icon-leaf color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Mid-level service category page nested under a Service Landing.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>LocalGov/Services</Folder>
    <Compositions>
      <Composition Key="c1a2b3c4-0001-0001-0001-000000000001" Alias="lgContentFields">lgContentFields</Composition>
      <Composition Key="c1a2b3c4-0002-0002-0002-000000000002" Alias="lgPageSummary">lgPageSummary</Composition>
      <Composition Key="c1a2b3c4-0003-0003-0003-000000000003" Alias="lgPageImage">lgPageImage</Composition>
      <Composition Key="c1a2b3c4-0004-0004-0004-000000000004" Alias="lgNavigation">lgNavigation</Composition>
    </Compositions>
    <DefaultTemplate>lgServiceSubLanding</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c1a2b3c4-1010-0010-0010-000000000021">lgServiceSubLanding</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c1a2b3c4-0020-0020-0020-000000000022">lgServicePage</ContentType>
    <ContentType Key="c1a2b3c4-0040-0040-0040-000000000040">lgGuide</ContentType>
    <ContentType Key="c1a2b3c4-0050-0050-0050-000000000050">lgStepByStep</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>
