<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a1b2c3d4-0010-0010-0010-000000000010" Alias="lgAlertSeverity" Level="1">
  <Info>
    <Name>LG Alert Severity</Name>
    <Icon>icon-block color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Severity level composition for alert banners.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>LocalGov/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a1b2c3d4-0010-0010-0010-000000000101</Key>
      <Name>Severity</Name>
      <Alias>severity</Alias>
      <Definition>87073e73-2de4-48e2-9108-c682d3e1433e</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Description><![CDATA[Select severity. Major and Notable Death alerts cannot be dismissed by users.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="main">Main</Tab>
      <Variations>Nothing</Variations>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a1b2c3d4-0010-0010-0010-000000000191</Key>
      <Caption>Main</Caption>
      <Alias>main</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
