<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a1b2c3d4-0012-0012-0012-000000000012" Alias="lgAlerts" Level="1">
  <Info>
    <Name>LG Alerts</Name>
    <Icon>icon-chat-active color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Composition that adds alert pickers to content pages. Apply this to any page type that should be able to display alerts.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>LocalGov/Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a1b2c3d4-0012-0012-0012-000000000121</Key>
      <Name>Single Page Alerts</Name>
      <Alias>singlePageAlerts</Alias>
      <Definition>30554424-fc8e-402f-adf1-c44ae2613c44</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Description><![CDATA[Alerts shown only on this specific page]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="alerts">Alerts</Tab>
      <Variations>Nothing</Variations>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a1b2c3d4-0012-0012-0012-000000000122</Key>
      <Name>Multi Page Alerts</Name>
      <Alias>multiPageAlerts</Alias>
      <Definition>30554424-fc8e-402f-adf1-c44ae2613c44</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Description><![CDATA[Alerts shown on this page and all its children]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="alerts">Alerts</Tab>
      <Variations>Nothing</Variations>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a1b2c3d4-0012-0012-0012-000000000191</Key>
      <Caption>Alerts</Caption>
      <Alias>alerts</Alias>
      <Type>Tab</Type>
      <SortOrder>40</SortOrder>
    </Tab>
  </Tabs>
</ContentType>
